.login-header{
    height: 90%;
    width: 90%;
    background-color: var(--header-bkg);
    color: var(--main-div-bkg);
}
.login-form {
    height: 90%;
    width: 90%;
    background-color: var(--content-bkg);

}

.loginResult {
    position: absolute;
    top:250px;
    height: 40%;
    width: 60%;
    background-color: var(--popup-bkg);
    color: var(--white-text);
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;
    border: 7px double rgba(var(--main-div-bkg-rgb), 0.7);
    border-radius: 15px;

}
.login-header h1{
    padding-top: 2%;
}

.log-register p {
    color: var(--white-text);
    height: 70px;
    width: 200px;
    border: 7px double rgba(var(--main-div-bkg-rgb), 0.7);
    border-radius: 15px; 
    background-color: var(--dark-bkg);
    font-size: 18px;
}
.log-register a {
    color: var(--white-text);
}
.log-register p:hover {
    transform: scale(1.08, 1.08);
    background-color: rgba(var(--dark-bkg-rgb), 0.4);
}
input[type=submit], button {
    color: var(--white-text);
    height: 70px;
    width: 200px;
    font-size: 25px;
    border: 7px double rgba(var(--main-div-bkg-rgb), 0.7);
    border-radius: 15px; 
    background-color: var(--dark-bkg);
}

button:hover{
    transform: scale(1.08, 1.08);
    background-color: rgba(var(--dark-bkg-rgb), 0.8);
}

input[type=text], input[type=email], input[type=password] {
    border: 7px double var(--input-border);
    border-radius: 15px;
    width:300px;
    height:30px;
    background-color: rgba(var(--header-bkg-rgb), 0.6);
    color: var(--white-text);
    font-size: 15px;

}