<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<input type="checkbox" id="toggler" />
<aside class="aside-wrapper">
  <label for="toggler">
	<div class="logo"> 
		REKRUTEX
	</div>
  </label>
  <ul>
    <li *ngIf="isUser" >{{user.Name}} {{user.LastName}}</li>
    <li><a routerLink="/strona-glowna" routerLinkActive="active">STRONA GŁÓWNA</a></li>
    <li><a routerLink="/kategorie" routerLinkActive="active">KATEGORIE</a></li>
    <li *ngIf="isUser==false"><a routerLink="/logowanie" routerLinkActive="active">LOGOWANIE</a></li>
    <li id="logout" *ngIf="isUser" (click)="logout()">WYLOGUJ</li>
  </ul>
  
</aside>
<button class="styleButton" (click)="toggleGreyTheme()">Zmień styl</button>
<router-outlet></router-outlet>
