<div class="main-div" align="center">
  <div class="okno_tlo" id="formularz_tlo">
    <div class="okno_cialo" id="formularz_cialo">
      
      <div class="naglowek_tlo" id="formularz_naglowek_tlo">
        <div class="naglowek_cialo" id="formularz_naglowek_cialo">
          <h1>GRATULACJE!</h1>
        </div>
      </div>
      
      <br>
      
      <div class="tresc_tlo" id="formularz_tresc_tlo">
        <div class="tresc_cialo" id="formularz_tresc_cialo">
          <h3>
            Udało Ci się zdobyć wystarczającą ilość punktów aby przejść do kolejnego etapu rekrutacji!<br>
            <br>
            Załącz poniżej swoje CV w formie pliku a my przekażemy je do działu kadr! Możesz również zostawić wiadmość od siebie lub uwagi dotyczące quizu!
          </h3>
        </div>
      </div>
      
      <br>
      <br />
      <div id="formularz_interakcja">
        
        <div id="formularz_lewo">
          <div class="input_tlo" id="formularz_input_tlo">
            <div class="input_cialo" id="formularz_input_cialo">
              <input id="formularz_textbox" type="text" placeholder="Powiedz nam więcej!">
            </div>
          </div>
          <br />
        </div>
  
        <div id="formularz_prawo">
          <div class="przycisk_tlo" id="formularz_upload_tlo">
            <div class="przycisk_cialo" id="formularz_upload_cialo">
              <input type="file" id="formularz_upload">
              <label for="formularz_upload">WYBIERZ PLIK</label>
            </div>
          </div>
          <br />
          <div class="obrazek_tlo" id="formularz_obrazek_tlo">
            <div class="obrazek_cialo" id="formularz_obrazek_cialo">
              obrazek
            </div>
          </div>
          <br />
        </div>
      </div>
      <br />
      <div class="przycisk_tlo" id="formularz_submit_tlo">
        <div class="przycisk_cialo" id="formularz_submit_cialo">
          <input type="submit" id="formularz_aplikuj">
          <label for="formularz_aplikuj">APLIKUJ!</label>
        </div>
      </div>
  
  
    </div>
  </div>
</div>
